:root {
  //Color Palette
  --clr-dark-h: 230;
  --clr-dark-s: 35%;
  --clr-dark-l: 7%;
  --clr-dark: hsl(230, 35%, 7%);

  --clr-light-blue-h: 231;
  --clr-light-blue-s: 77%;
  --clr-light-blue-l: 90%;
  --clr-light-blue: hsl(231, 77%, 90%);

  --clr-white-h: 0;
  --clr-white-s: 0%;
  --clr-white-l: 100%;
  --clr-white: hsl(0, 0%, 100%);

  //Font Size
  --fs-150: 8rem;
  --fs-100: 5.6rem;
  --fs-56: 3.2rem;
  --fs-32: 2rem;
  --fs-28: 1.6rem;
  --fs-18: 1.4rem;
  --fs-16: 1.6rem;
  --fs-14: 1.4rem;

  //Font Family
  --ff-bellefair: "Bellefair", serif;
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlow-cond: "Barlow Condensed", sans-serif;

  @include md {
    --fs-150: 15rem;
    --fs-100: 8rem;
    --fs-56: 5.6rem;
    --fs-32: 3.2rem;
    --fs-28: 2.8rem;
    --fs-18: 1.6rem;
    --fs-16: 1.6rem;
    --fs-14: 1.4rem;
  }

  @include lg {
    --fs-18: 1.8rem;
    --fs-100: 10rem;
  }
}
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
  min-width: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  font-size: var(--fs-18);
  line-height: 1.6;
  min-height: 100vh;
  font-family: var(--ff-barlow);
  overflow-x: hidden;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

//Homepage
.home {
  background: url(../images/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  @include md {
    background: url(../images/home/background-home-tablet.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include lg {
    background: url(../images/home/background-home-desktop.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//Crew
.destination {
  background: url(../images/destinations/bg-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include md {
    background: url(../images/crew/bg-tablet.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include lg {
    background: url(../images/crew/bg-mobile.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//Crew
.crew {
  background: url(../images/crew/bg-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include md {
    background: url(../images/crew/bg-tablet.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include lg {
    background: url(../images/crew/bg-desktop.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//technology
.technology {
  background: url(../images/technology/bg-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include md {
    background: url(../images/technology/bg-tablet.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include lg {
    background: url(../images/technology/bg-desktop.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//Menu
.menu {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  top: 2.4rem;
  right: 2.4rem;
  gap: 6px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }

  .line {
    background-color: var(--clr-light-blue);
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
  }
}

.logo {
  margin: 2.4rem clamp(2.4rem, 5vw, 4.8rem);
}

.logo img {
  min-width: 40px;

  @include md {
    min-width: 48px;
  }
}

.hidden {
  display: none;
}
