.flex {
  display: flex;
  gap: var(--gap, 1.6rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.6rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1.6rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2.4rem;
  max-width: 110rem;
  margin-inline: auto;
}

//layout
.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 2.4rem;

  &.grid-container--home {
    padding-bottom: 7.2rem;
    align-items: end;
  }

  * {
    max-width: 50rem;
  }

  @include lg {
    text-align: left;
    padding: 0;
    grid-column-gap: var(--container-gap, 3.2rem);
    grid-template-columns: minmax(3.2rem, 1fr) repeat(2, minmax(0, 64rem)) minmax(
        3.2rem,
        1fr
      );
    & > *:first-child {
      grid-column: 2;
    }
    & > *:last-child {
      grid-column: 3;
    }
  }
}

//Crew layout
.grid-container--crew {
  padding-bottom: 0;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  @include md {
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }
  @include lg {
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
  }
}

// .grid-container--crew img {
//   max-width: 60%;
//   grid-area: image;
//   border-bottom: 1px solid white;
// }

.grid-container--crew .crew-details {
  grid-area: content;

  @include lg {
    justify-self: start;
  }
}

.grid-container--crew img {
  border-bottom: 1px solid rgba(white, 0.25);

  @include lg {
    align-self: end;
  }
}

.grid-container--crew .dot-indicators {
  grid-area: tabs;

  @include lg {
    justify-self: start;
  }
}

.grid-container--crew .crew-details h2 {
  color: rgba(white, 0.25);
}

.grid-container--destination {
  --flow-space: 3.2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  @include lg {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }
}

.numbered-title {
  grid-area: title;

  @include md {
    text-align: left;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.grid-container--destination img,
.grid-container--crew img {
  grid-area: image;
  max-width: 50%;

  @include lg {
    max-width: 90%;
    justify-self: center;
  }
}

.grid-container--destination .tabs {
  grid-area: tabs;
}

.grid-container--destination .destination-info {
  grid-area: content;
}

.destination-meta {
  border-top: 1px solid rgba(white, 0.25);
  flex-direction: column;
  margin-top: 3.2rem;
  padding: 3.2rem 0;

  @include md {
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include lg {
    justify-content: flex-start;
    --gap: 6.4rem;
  }
}

//Technology layout
.grid-container--technology {
  --flow-space: 3.2rem;
  align-content: start;
  grid-template-areas:
    "title"
    "image"
    "content";

  @include lg {
    grid-template-areas:
      ". title title ."
      ". content image image";
  }
}

.grid-container--technology img {
  min-width: calc(100% + 4.8rem);
  grid-area: image;

  @include md {
    content: url(../images/technology/image-tablet.jpg);
  }

  @include lg {
    min-width: 50%;
    content: url(../images/technology/image-desktop.jpg);
  }
}

.grid-container--technology .technology-info {
  grid-area: content;
  flex-direction: column;

  @include lg {
    --gap: 6.4rem;
    justify-self: start;
    flex-direction: row;
  }
}

.grid-container--technology article {
  @include lg {
    order: 2;
  }
}

.grid-container--technology .number-indicator {
  justify-content: center;
  grid-area: tabs;

  @include lg {
    order: 1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//background colors
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-light-blue {
  background-color: var(--clr-light-blue);
}
.bg-white {
  background-color: var(--clr-white);
}

.text-dark {
  color: var(--clr-dark);
}
.text-light-blue {
  color: var(--clr-light-blue);
}
.text-white {
  color: var(--clr-white);
}

//Typography
.ff-bellefair {
  font-family: var(--ff-bellefair);
}
.ff-barlow {
  font-family: var(--ff-barlow);
}
.ff-barlow-cond {
  font-family: var(--ff-barlow-cond);
}

.ls-1 {
  letter-spacing: 4.75px;
}

.ls-2 {
  letter-spacing: 2.7px;
}

.ls-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-150 {
  font-size: var(--fs-150);
}
.fs-100 {
  font-size: var(--fs-100);
}
.fs-56 {
  font-size: var(--fs-56);
}
.fs-32 {
  font-size: var(--fs-32);
}
.fs-28 {
  font-size: var(--fs-28);
}
.fs-18 {
  font-size: var(--fs-18);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-14 {
  font-size: var(--fs-14);
}

.fs-150,
.fs-100,
.fs-56,
.fs-32 {
  line-height: 1.1;
}

//Molecules
.numbered-title {
  font-family: var(--ff-barlow-cond);
  font-size: var(--fs-28);
  text-transform: uppercase;
  letter-spacing: 4.72px;

  span {
    margin-right: 0.8rem;
    font-weight: 700;
    @include alpha(color, --clr-white, 0.25);

    @include md {
      margin: 2.4rem;
    }
  }
}

//Components
.large-button {
  display: inline-grid;
  background-color: var(--clr-white);
  aspect-ratio: 1;
  padding: 3.2rem;
  border-radius: 50%;
  place-items: center;
  text-decoration: none;
  position: relative;
  z-index: 1;

  @include md {
    padding: 6.4rem;
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include alpha(background-color, --clr-white, 0.5);
    transition: opacity 0.5s linear, transform 0.5s ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: scale(1.6);
  }
}

//Primary Navigation
.navigation-bar {
  order: 3;
}

.primary-navigation {
  z-index: 1000;
  position: fixed;
  background-color: rgba(white, 0.05);
  backdrop-filter: blur(1.6rem);
  padding: 9.6rem 3.2rem;
  height: 100vh;
  width: 70%;
  top: 0;
  right: 0;
  list-style: none;
  flex-direction: column;
  color: var(--clr-white);
  --underline-gap: 0.8rem;
  margin: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;

  &.active {
    transform: translateX(0);
  }

  &.underline-indicators > li {
    border: 0;

    @include md {
      &.active {
        border-bottom: 3px solid var(--clr-white);
        color: var(--clr-white);
      }
      &:hover,
      &:focus {
        padding: var(--underline-gap, 1.6rem) 0;
        border-bottom: 3px solid rgba(white, 0.5);
      }
      --underline-gap: 3.2rem;
    }
  }

  @include md {
    transform: none;
    padding: 0 9.6rem;
    height: auto;
    flex-direction: row;
    width: max-content;
    position: relative;
    --gap: clamp(2.4rem, 5vw, 4.8rem);
    align-items: center;
  }

  @include lg {
  }

  span {
    font-weight: 700;
    margin-right: 1.2rem;

    @include md {
      display: none;
    }

    @include lg {
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
  }
}

//Underline Indicators
.underline-indicators {
  & > * {
    background: transparent;
    padding: var(--underline-gap, 1.6rem) 0;
    border: 0;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid var(--clr-white);
      color: var(--clr-white);
    }

    &:hover,
    &:focus {
      padding: var(--underline-gap, 1.6rem) 0;
      border-bottom: 3px solid rgba(white, 0.5);
    }
  }
}

//Primary Header
.primary-header {
  &::after {
    @include md {
      display: none;
    }
    @include lg {
      order: 2;
      z-index: 1001;
      content: "";
      position: relative;
      display: inline-block;
      height: 0.1rem;
      width: 100%;
      left: 3%;
      top: 50%;
      background-color: rgba(white, 0.25);
      transition: all 0.3s ease;
    }
  }

  @include md {
    justify-content: space-between;
  }
  @include lg {
    margin-top: 4rem;
    justify-content: space-between;
  }
}

//Tabs
.tabs {
  --gap: 3.2rem;
}

//Dot Indicators
.dot-indicators {
  margin: 3.2rem 0;

  & > * {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(white, 0.2);

    &.active {
      background-color: var(--clr-white);
    }

    &:hover,
    &:focus {
      background-color: rgba(white, 0.5);
    }
  }
}

//Number Indicator
.number-indicator {
  margin: 3.2rem 0;
  flex-direction: row;
  --gap: 3.2rem;

  @include lg {
    flex-direction: column;
  }

  & > * {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    color: var(--clr-white);
    border: 1px solid rgba(white, 0.25);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;

    @include md {
      width: 8rem;
      height: 8rem;
    }

    &.active {
      background-color: var(--clr-white);
      color: var(--clr-dark);
    }
    &:hover,
    &:focus {
      border: 1px solid var(--clr-white);
    }
  }
}
